* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: light-dark(rgba(0, 0, 0, .88), rgba(255, 255, 255, 0.92));
	background-color: light-dark(#fff, #1f1f1f);
	min-height: 100svh;
	display: flex;
}

body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2.5rem;
	min-width: 23.4375rem;
	max-width: 32.5rem;
	margin: auto;
}

header, main, footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

h1 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
}

h1 span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
	font-size: 1em;
	cursor: default;
	margin-left: -0.5rem;
}

a {
	color: inherit;
}

a:is(:hover, :focus) {
	color: light-dark(#9c5af2, #d997ff);
}

form {
	position: relative;
	z-index: 10;
	width: calc(100% + 4rem);
	margin-inline: -2rem;
	padding-inline: 2rem;
	padding-block: 1rem;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: light-dark(#f2f2f2, #363636);
	border-radius: 0.5rem;
}

output:is(:focus, :focus-within),
form:focus-within {
	outline: 0.125rem solid #7224d8;
	outline-offset: -0.0625rem;
}

input[type="file"] {
	font-family: inherit;
	font-size: 1rem;
	max-width: calc(100vw - 5rem);
	overflow: hidden;
}

input[type="file"]:valid {
	font-family: Menlo, monospace;
}

::file-selector-button {
	color: red;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.375rem;
	border: none;
	color: #fff;
	background-color: #7224d8;
	min-width: 7rem;
	min-height: 2rem;
	cursor: pointer;
}

label {
	font-weight: 600;
}

label code {
	font-size: 1rem;
}

label span {
	font-weight: 400;
}

code {
	font-family: Menlo, monospace;
}

output {
	position: relative;
	--external-size: clamp(2rem, (100vw - 31.5rem) / 2, 12rem);
	margin-inline: calc(var(--external-size) * -1);
	width: calc(100% + var(--external-size) * 2);
	height: auto;
	max-height: 20rem;
	border-radius: 0.5rem;
	border-width: 0.0625rem;
	border-style: solid;
	background-color: light-dark(#fff, #1f1f1f);
	border-color: light-dark(rgba(0,0,0,.15), rgba(255, 255, 255, 0.1));
	overflow-y: auto;
	overscroll-behavior: contain;
}

table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: light-dark(#fff, #1f1f1f);
}

th {
	padding: 0.375rem;
	border-bottom-width: 0.0625rem;
	border-bottom-style: solid;
	border-bottom-color: light-dark(rgba(0,0,0,.15), rgba(255, 255, 255, 0.1));
	font-size: 0.75rem;
	text-align: left;
}

td {
	padding-block: 0.125rem;
	padding-inline: 0.375rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

:is(td, th):nth-child(3) {
	text-align: right;
}

:is(td, th):first-child {
	padding-inline-start: 2rem;
}

:is(td, th):last-child {
	padding-inline-end: 2rem;
}

tbody tr {
	position: relative;
}

tbody tr:nth-child(even) td {
	background-color: light-dark(#f2f2f2, rgba(255, 255, 255, 0.1));
}

tbody tr:is(:hover, :focus-within) td {
	color: #fff;
	background-color: #7224d8;
}

:is(td, th) a:is(:link, :hover, :focus) {
	color: inherit;
	text-decoration: none;
}

:is(td, th) a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	min-height: 1.5rem;
}

footer {
	margin-top: 2.5rem;
	text-align: center;
	color: light-dark(rgba(0, 0, 0, 0.56), rgba(255, 255, 255, 0.64));
}
