* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: light dark;
	font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, SF Pro, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: light-dark(rgba(0, 0, 0, .88), rgba(255, 255, 255, 0.92));
	background-color: light-dark(#fff, #1f1f1f);
	min-height: 100vh;
	display: flex;
}

body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2.5rem;
	min-width: 23.4375rem;
	max-width: 32.5rem;
	margin: auto;
}

h1 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
}

h1 span {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1em;
	height: 1em;
	font-size: 1em;
	cursor: default;
	margin-left: -0.5rem;
}

a {
	color: inherit;
}

a:is(:hover, :focus) {
	color: light-dark(#9c5af2, #d997ff);
}

form {
	position: relative;
	padding-block: 1rem;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form:after {
	content: '';
	position: absolute;
	inset: 0;
	z-index: -2;
	border-block-style: solid;
	border-block-width: 0.0625rem;
	border-color: light-dark(rgba(0,0,0,.15), rgba(255, 255, 255, 0.1));
	opacity: 1;
	transition: opacity ease-in-out 0.3s;
}

form::before {
	content: '';
	position: absolute;
	top: -0.0625rem;
	bottom: -0.0625rem;
	left: -2rem;
	right: -2rem;
	background-color: light-dark(#f2f2f2, rgba(255, 255, 255, 0.1));
	border-radius: 0.5rem;
	z-index: -1;
	opacity: 0;
	transition: opacity ease-in-out 0.3s;
}

form:is(:focus-within,:hover)::after {
	opacity: 0;
}

form:is(:focus-within,:hover)::before {
	opacity: 1;
}

input[type="file"] {
	font-family: Menlo, monospace;
	font-size: 1rem;
	max-width: calc(100vw - 5rem);
	overflow: hidden;
}

::file-selector-button {
	color: red;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.375rem;
	border: none;
	color: #fff;
	background-color: rgb(114, 36, 216);
	min-width: 7rem;
	min-height: 2rem;
	cursor: pointer;
}

label {
	font-weight: 600;
}

label code {
	font-size: 1rem;
}

label span {
	font-weight: 400;
}

code {
	font-family: Menlo, monospace;
}

footer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-top: 2.5rem;
	text-align: center;
	color: light-dark(rgba(0, 0, 0, 0.56), rgba(255, 255, 255, 0.64));
}
